<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<title>Resume: Paul Winterbauer</title>
	</head>
	<body>
		<div class="container">
			<hr>
			<div class="row">
				<div class="col-md-8">
					<h1>Paul Winterbauer</h1>
					<h3><small>Full Stack Database Applications Developer</small></h3>
				</div>
				<div class="col-md-4 text-md-center">
					<address>
						2131 Slane Avenue<br>
						Cincinnati, OH 45212<br>
						(314) 482-4879<br>
						<a href="mailto:#">paul.winterbauer@gmail.com</a>
					</address>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-6">
					<h4>Technical Skills</h4>
					<ul>
						<li>
							<strong>MySQL Relational Database Management</strong> 13 years
							<ul class="list-inline">
								<li class="list-inline-item">&bull; Database design</li>
								<li class="list-inline-item">&bull; Performance tuning</li>
								<li class="list-inline-item">&bull; Schema modification</li>
								<li class="list-inline-item">&bull; Data migration</li>
								<li class="list-inline-item">&bull; Performant SQL querying</li>
								<li class="list-inline-item">&bull; SQL scripting</li>
							</ul>
						</li>
						<li>
							<strong>Python Back End Application Development</strong> 5 years
							<ul class="list-inline">
								<li class="list-inline-item">&bull; Flask web applications</li>
								<li class="list-inline-item">&bull; Flask APIs</li>
								<li class="list-inline-item">&bull; Scripting</li>
							</ul>
						</li>
						<li>
							<strong>Javascript Front End Application Development</strong> 5 years
							<ul class="list-inline">
								<li class="list-inline-item">&bull; Backbone.js single page applications</li>
								<li class="list-inline-item">&bull; Bootstrap</li>
							</ul>
						</li>
						<li>
							<strong>Development Environment</strong>
							<ul class="list-inline">
								<li class="list-inline-item">&bull; Git</li>
								<li class="list-inline-item">&bull; Linux</li>
							</ul>
						</li>
						<li>
							<strong>Legacy Skills</strong>
							<ul class="list-inline">
								<li class="list-inline-item">&bull; VB.NET desktop application development</li>
								<li class="list-inline-item">&bull; MS Office VBA automation/application development</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<h4>Personal Skills</h4>
					<ul>
						<li>
							<strong>Self directed:</strong> able to set goals and implement solutions independently
						</li>
						<li>
							<strong>Skillful communicator:</strong> able to communicate with non-technical audiences
						</li>
						<li>
							<strong>Supportive team member:</strong> eager to both help and learn from others
						</li>
						<li>
							<strong>Self taught:</strong> excited to continue learning new technologies and techniques
						</li>
					</ul>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<h4>Experience</h4>
				</div>
			</div>
		</div>
	</body>
</html>