<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<title>Resume: Paul Winterbauer</title>
	</head>
	<body style="font-size: larger;">
		<div class="container">
			<hr>
			<div class="row">
				<div class="col-md-8">
					<h1>Paul Winterbauer</h1>
					<h4><small>Full Stack Database Applications Developer</small></h4>
				</div>
				<div class="col-md-4 text-md-right">
					<address>
						Cincinnati, OH<br>
						(314) 482-4879<br>
						<a href="mailto:#">paul.winterbauer@gmail.com</a>
					</address>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<h4>Experience</h4>
					<p class="lead mb-0"><strong>IT Specialist:</strong> <i>2005-Present</i></p>
					<p class="lead"><strong>Smithsonian Institution, National Ballast Information Clearinghouse</strong></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 ml-3">
					<h5 class="text-muted">Role</h5>
					<ul>
						<li>
							Full stack development using Flask, MySQL, and Backbone.js:
							<ul class="list-unstyled">
								<li>
									&bull; Developed public responsive web application for data collection:
									<br>
									 <a class="ml-3" href="https://invasions.si.edu/ballastwater/" target="_blank">https://invasions.si.edu/ballastwater/</a>
								</li>
								<li>&bull; Developed internal web application for data processing</li>
							</ul>
						</li>
						<li>
							MySQL relational database management:
							<ul class="list-unstyled">
								<li>&bull; Performed schema design, performance tuning, data migration</li>
								<li>&bull; Developed SQL scripts</li>
							</ul>
						</li>
						<li>
							Planning and Communication:
							<ul class="list-unstyled">
								<li>&bull; Formulated technical solutions after coalescing needs and desires from mostly non-technical staff</li>
								<li>&bull; Communicated the role and functionality of technical solutions to analysts, managers, and US Coast Guard supervisors</li>
								<li>&bull; Provided training and support for users of technical solutions</li>
							</ul>
						</li>
					</ul>
					<h5 class="text-muted">Accomplishments</h5>
					<ul>
						<li>
							Improved operational efficiency:
							<ul class="list-unstyled">
								<li>&bull; Eliminated 100,000+ report backlog within first year of employment</li>
								<li>&bull; Reduced average report processing time by 99%</li>
								<li>&bull; Reduced report processing labor by 83%</li>
							</ul>
						</li>
						<li>
							Improved data quality:
							<ul class="list-unstyled">
								<li>&bull; Designed a report feedback system which successfully solicited corrections to an average of 8,000 reports annually</li>
								<li>&bull; Effectually eliminated a majority of common errors from the reporting population</li>
							</ul>
						</li>
						<li>
							Modernized Systems:
							<ul class="list-unstyled">
								<li>&bull; Guided the transition from paper to paperless reporting</li>
								<li>&bull; Transitioned internal processing system from MS Access/VBA to MySQL/.NET, and further to MySQL/Flask/Backbone.js
								<li>&bull; Spearheaded implementation of the web application for data collection</li>
							</ul>
						</li>
						<li>
							Exceptional Performance:
							<ul class="list-unstyled">
								<li>&bull; Rated 'Exceeded expectations' to 'Outstanding' in performance reviews for the duration of employment</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<hr>
			<h4>Skills</h4>
			<div class="row">
				<div class="col-md-12">
					<ul class="list-inline">
						<li class="list-inline-item text-muted"><strong>Current:</strong></li>
						<li class="list-inline-item">Python</li>
						<li class="list-inline-item">Flask</li>
						<li class="list-inline-item">MySQL</li>
						<li class="list-inline-item">Backbone.js</li>
						<li class="list-inline-item">Git</li>
					</ul>
					<ul class="list-inline">
						<li class="list-inline-item text-muted"><strong>Legacy:</strong></li>
						<li class="list-inline-item">VB.NET</li>
						<li class="list-inline-item">VBA</li>
					</ul>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<h4>Education</h4>
					<p>2002 B.A. in Cognitive Science, University of California, Berkeley</p>
				</div>
			</div>
		</div>
	</body>
</html>